body{
  font-family: Helvetica Neue, sans-serif;
  transition: background .25s;
}
a{
  color: #FF0000;
  text-decoration: none;
}
.hyperlinks{
  padding:0;
}
.hyperlinks li{
  margin: 0;
  list-style: none;
}
#url{
  font-size: 2em;
  text-align: right;
  margin: 0;
  color: #f08;
  border-bottom: 1px solid #eee;
}
#fullscreen{
  float:right;
  font-size: 1em
}
#content{
  transition: opacity 1.5s; 
}
#content{
  opacity: 1;
  color: #242424;
  /*display: none;*/
}
.started #content {
  opacity: 0;
}

#ok, .arrow{
  display: none;
  position:absolute;
  left:50%;
  top: 50%;
  color: #fff;
  font-size:200px;
  margin-top: -100px;
  margin-left:-100px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  transform: scale(0.001);
  transition: all .5s;
  transform: scale(1);
}
.started #ok {
  display: block;
}

.arrow{
  display: block;
  color: #507696;
  transform: rotate(-90deg);
  transition: none;
}
.arrow.transition{
 transition: all 1s;
}
.arrow.top{
  top:0;
  margin-top: 0;
}

#locator{
  background-image: url(floorplan.jpg);
  
  display: block;
  position: absolute;
  overflow: hidden;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: move;
  display: none;
}

#locator.active{
  display: block;
}
#marker{
  position: absolute;
  font-size: 40px;
  left:50%;
  top:50%;
  width: 40px;
  margin-left: -20px;
  height: 40px;
  margin-top: -20px;
  /* margin-left: 100%; */
  /* opacity: 0.8; */
  color: rgba(79, 87, 242, 0.9);
  /* cursor: move; */
}


/* the new location */
#direction{
  display: none;
  background: #fff;
  position: absolute;
  left:50%;
  top:50%;
  width:200px;
  height:300px;
  margin-left:-100px;
  margin-top:-150px;
  text-align: center;
}

#direction #arrow{
  /* margin:auto; */
  display: block;
  height: 200px;
  width: 200px;
  font-size: 200px;
  transform: rotate(-90deg);
  color: #000000;
}

#direction h2{
  margin-bottom: 0
}
#direction h3{
  /*margin-bottom: 0*/
  margin: 0;
  color: #000;
}

.s-x #ok{
  color: #fff;
}

.s-x body{
  background: #ccc;
}

.s-ready #ok{
  transform: scale(0.001);
}


.s-0 #ok{
  color: #4CDD4E;
}

.s-1 body{
  background: #000;
}

.s-2 body{
  background: #08f;
}
.s-2 #ok{
  color: #fff;
}


.s-3 body{
  background: #f08;
}
.s-3 #ok{
  color: #fff;
}

.s-4 body{
  background: #fc0;
}
.s-4 #ok{
  color: #fff;
}


.s-5 body{
  background: #ff0;
}
.s-5 #ok{
  color: #000;
}


.s-6 body{
  background: #fff;
}
.s-6 #ok{
  color: #08f;
}


.s-7 body{
  background: #fff;
}
.s-7 #ok{
  color: #f08;
}


.s-8 body{
  background: #fff;
}
.s-8 #ok{
  color: #000;
}


.fragment{
  opacity: 0;
  transition: opacity .5s;
}
.fragment-active{
  opacity: 1;
  transition: opacity .5s;
}



/*

@media (min-width: 300px) {
  #url{
    font-size: 50px;
  }
  #content{
    font-size: 1.5em;
  }
}


@media (min-width: 700px) {
  #url{
    font-size: 80px;
  
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

  #content{
    font-size: 2.5em;
    max-width: 18em;
  }
}*/